.chess-panel {
  fill: transparent;
  margin: 10px 0px;
}

.chess-panel .border {
  stroke: #da1313;
  stroke-width: 0.1mm;
  fill: #fcfcfc;
}

.chess-panel .border.inner{
  stroke-width: 0.02mm;
}

.chess-panel .horizon, .chess-panel .vertical, .chess-panel .slash {
  stroke-width: 0.02mm;
  stroke: #da1313;
}

.chess-panel .title {
  font-size: 1.5mm;
  fill: black;
  font-family: "华文隶书";
}

.chess-panel .chessman {
  stroke-width: 0.04mm;
  stroke: gray;
  fill: #eee;
  cursor: default;
  filter: drop-shadow();
  display: none;
}

.chess-panel .chessman:hover {
  fill: #ddd;
}

.chess-panel .chessman.alive {
  display: block;
}

.chess-panel .chessman.selected {
  stroke: red;
}

.chess-panel .chessman text {
  font-size: 1.1mm;
  font-family: "幼圆";
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  stroke-width: 0.03mm;
}

.chess-panel .chessman.red text {
  stroke: #f00;
  fill: #d00;
}

.chess-panel .chessman.black text {
  stroke: #000;
  fill: #222;
}

.controller-btn {
  display: inline-block;
  margin: 5px 5px 8px 0;
  color: #FFF;
  background-color: #FF4351;
  border-color: #FF4351;
  font-weight: 400;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.controller-btn:hover {
  background-color: #ff7680;
  border-color: #ff7680;
}

.status-wrapper {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
