.chess-panel {
  fill: transparent;
}

.chess-panel .border {
  stroke: #da1313;
  stroke-width: 0.1mm;
  fill: white;
}

.chess-panel .border.inner{
  stroke-width: 0.02mm;
}

.chess-panel .horizon, .chess-panel .vertical, .chess-panel .slash {
  stroke-width: 0.02mm;
  stroke: #da1313;
}

.chess-panel .title {
  font-size: 1.5mm;
  fill: black;
  font-family: "华文隶书";
}

.chess-panel .chessman {
  stroke-width: 0.04mm;
  stroke: gray;
  fill: #eee;
  cursor: default;
  box-shadow: 1px 1px 1px gray;
}

.chess-panel .chessman:hover {
  fill: #ddd;
}

.chess-panel .chessman text {
  font-size: 1.1mm;
  font-family: "幼圆";
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  stroke-width: 0.03mm;
}

.chess-panel .chessman.red text {
  stroke: #f00;
  fill: #d00;
}

.chess-panel .chessman.black text {
  stroke: #000;
  fill: #222;
}

.controller-btn {
  display: inline-block;
  padding: 5px;
  margin: 4px 5px 4px 0;
  color: black;
}
